.article-preview {
    margin: 1rem 0rem;
    .preview-head {
        position: relative;
        .preview-title {
            padding-right: 5rem;
        }
        .preview-date {
            position: absolute;
            top: 0rem;
            right: 0rem;
            color: #b8b8b8;
        }
    }

    @media (max-width: 768px) {
        .preview-head {
            .preview-title {
                padding-right: 0rem;
            }
            .preview-date {
                position: static;
            }
        }
        .preview-preamble {
            display: none;
        }
    }
}
