.article-list {
    position: relative;
    .sort-row {
        .sort-btn {
            -webkit-appearance: none;
            border: none;
            cursor: pointer;
            outline: none;
        }
        @media (max-width: 768px) {
            position: absolute;
            top: -6rem;
            right: 0rem;
        }
    }
    .no-result {
        text-align: center;
    }
}
