.article-list {
    position: relative;
    .sort-row {
        .sort-btn {
            -webkit-appearance: none;
            border: none;
            cursor: pointer;
            outline: none;
        }
        @media (max-width: 768px) {
            position: absolute;
            top: -6rem;
            right: 0px;
        }
    }
    .no-result {
        text-align: center;
        p {
            font-size: 20px;
        }
        i {
            font-size: 100px;
            color: #e8e8e8;
        }
    }
}
